@{
    Layout = "~/Areas/Admin/Views/Share/_Layout.cshtml";
}
@* để sử dụng phân trang thì using dòng sau *@
@using X.PagedList
@* để sử dụng hàm IpageList thì using *@
@using X.PagedList.Mvc.Core
@using System.IO
@using WebMobilePhone_Models.Models;
@using Microsoft.EntityFrameworkCore
@inject WebMobilePhone_DataAccess.Infrastructures.IUnitOfWork unitOfWork
@functions{

    public User GetCustomer(string idCustomer)
    {
        User record = unitOfWork.UserRepository.Find(idCustomer);  
        return record != null ? record : new User();
    }
    public Orders GetOrder(int idOrder)
    {
        Orders record = unitOfWork.OrdersRepository.Find(idOrder); 
        return record != null ? record : new Orders();
    }
    public Products GetProduct(int idProduct)
    {
        Products record = unitOfWork.ProductsRepository.Find(idProduct);
        return record != null ? record : new Products();
    }
    public double getMoney(Products products)
        {
            if (products.DiscountID == null)
            {

                return Convert.ToDouble((products.Price * 0) / 100);
            }
            else
            {
                Discount discount = unitOfWork.DiscountRepository.Find(products.DiscountID);
                if (discount.StartDate <= DateTime.Now && DateTime.Now <= discount.EndDate)
                {
                    Convert.ToDouble((products.Price * discount.PercentDiscount) / 100);

                }
                return Convert.ToDouble((products.Price * 0) / 100);

            }
        }
}
<div class="col-md-12">
    <input onclick="history.back()" type="button" value="Back" />
    <div class="panel panel-primary">
        <div class="panel-heading">Chi tiết</div>
        <div class="panel-body">
            @*thông tin khách hàng*@
            @{
                Orders order = GetOrder(ViewBag.orderID);
                User customer = GetCustomer(order.CustomerID);
            }
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Tên</th>
                    <th>Email</th>
                    <th>Địa chỉ</th>
                    <th>Điện thoại</th>
                    <th>Trạng thái</th>

                </tr>
                <tr>
                    <td>@customer.UserName</td>
                    <td>@customer.Email</td>
                    <td>@customer.Address</td>
                    <td>@customer.PhoneNumber</td>
                    <td>
                        @if (@order.Status == 1)
                        {


                            <span class="label label-danger">đã giao hàng</span>
                        }
                        else
                        {
                            <span class="label label-danger">Chưa giao hàng</span>
                        }
                    </td>
                </tr>

            </table>
            @* thông tin sảng phẩm *@
            <table class="table table-bordered table-hover">
                <tr>

                    <th>Photo</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Number</th>
                </tr>
                @foreach (var item in Model)
                {
                   
                     Products record = GetProduct(item.ProductID);
                   
                    <tr>
                        <td><img src="~/Upload/Products/@record.Photo" style="width:100px;"/></td>
                        <td>@record.Name</td>
                        <td>@string.Format("{0:#,#.}",record.Price - getMoney(record))</td>
                        <td>@item.Quantity</td>
                    </tr>
                }

            </table>
            <style type="text/css">
                .pagination {
                    padding: 0px;
                    margin: 0px;
                }
            </style>

        </div>
    </div>
</div>
