@{
    ViewBag.Title = "Product";
    Layout = "~/Areas/Admin/Views/Share/_Layout.cshtml";

}

@section header{
    <p style="margin-top: -10px;">Sản phẩm</p>
}
@using X.PagedList
@using X.PagedList.Mvc.Core
@* doi tuong thao tac voi file *@
@using System.IO
@using WebMobilePhone_Models.Models;
@using Microsoft.AspNetCore.Http;
@inject WebMobilePhone_DataAccess.Infrastructures.IUnitOfWork unitOfWork
@functions {

    public string GetCategory(int _CategoryID)
    {
        Categories record = unitOfWork.CategoryRepository.Find(_CategoryID);
        return record.Name != null ? record.Name : "";
    }
    public double getDiscount(Products products)
    {

        if (products.DiscountID == null)
        {
            return 0;
        }
        else
        {
            Discount discount = unitOfWork.DiscountRepository.Find(products.DiscountID);
            if (discount is not null)
            {
                if (discount.StartDate <= DateTime.Now && DateTime.Now <= discount.EndDate)
                {
                    return discount.PercentDiscount;

                }
            }
            return 0;

        }
    }
}


}


<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">

                <div>
                    <a href="@Url.Action("Create")" class="btn btn-success">
                        <i class="fa fa-plus-circle"></i>&nbsp; Thêm Mới &nbsp;
                    </a>
                </div>

                <div id="timkiem" style=" float: right; margin-top: 48px; margin-right: 0px;">
                    <p id="tk" style=" float: left; margin: 4px;">Tìm Kiếm:</p>
                    <input type="text" id="search" />
                </div>
            </div>
            <div class="box-body">
                <table id="ProductTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width:77px;">Ảnh</th>
                            <th style="width:75px;">Tên máy</th>
                            <th style="width:65px;">Dòng máy</th>
                            <th style="width:57px;">Số lượng</th>
                            <th style="width:72px;">Giá</th>
                            <th style="width:60px;">Giảm giá</th>
                            <th style="width:34px;">Hot</th>
                            <th style="width:130px;">Hành động</th>
                        </tr>
                    </thead>
                    @if (Model.Count > 0)
                    {

                        <tbody id="data">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @* Directory.GetCurrentDirectory() lay duong dan thu muc hien tai *@
                                        @if (item.Photo != null && File.Exists(Directory.GetCurrentDirectory() + "\\wwwroot\\Upload\\Products\\" + item.Photo))
                                        {
                                            <img src="~/Upload/Products/@item.Photo" style="width:100px;" />
                                        }
                                    </td>
                                    <td>@item.Name</td>
                                    <td>@GetCategory(item.CategoryID)</td>
                                    <td>@item.Amount</td>
                                    <td>@item.Price</td>
                                    <td>@getDiscount(item) %</td>
                                    <td>
                                        @if (item.Hot == 1)
                                        {
                                            <text>Hot</text>
                                        }
                                    </td>
                                    <td style="text-align:center;">

                                        <a href="/Admin/Products/Update/@item.ID" class="btn btn-primary  btn-xs">
                                            <i class="fa fa-pencil"></i>&nbsp; Sửa &nbsp;&nbsp;
                                        </a>
                                        &nbsp;

                                        <a href="/Admin/Products/Delete/@item.ID" class="btn btn-danger  btn-xs" onclick="return confirm('Bạn muốn xóa à')">
                                            <i class="fa fa-trash"></i> &nbsp;Xóa&nbsp;&nbsp;
                                        </a>
                                        &nbsp;
                                        <a href="/Admin/Products/UpdateAmount/@item.ID" class="btn btn-success  btn-xs">
                                            <i class="fa fa-pencil"></i>&nbsp; Thêm &nbsp;&nbsp;
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }

                </table>
                <style type="text/css">
                    .pagination {
                        padding: 0px;
                        margin: 0px;
                    }
                </style>
                @* ham sau se thuc hien viec hien thi phan trang *@
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }))
            </div>
        </div>

    </div>
</div>
<script src="~/Admin/assest/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#search').on('keyup', function (event) {
            event.preventDefault();
            /* Act on the event */
            var tukhoa = $(this).val().toLowerCase();
            $('#data tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(tukhoa) > -1);
            });
        });
    });
</script>
@*@section Scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                $('#DepartmentTable').DataTable({
                    'paging': false,
                    'lengthChange': true,
                    'searching': true,
                    'ordering': true,
                    'info': false,
                    'autoWidth': false
                })
                $("#modalImport").click(function () {
                    $("#importcsv").modal('show');
                });
                $('#search').on('keyup', function (event) {
                    event.preventDefault();
                    var tukhoa = $(this).val().toLowerCase();
                    $('#ProductTable #data').filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(tukhoa) > -1);
                    });
                });

            });
        </script>
    }*@

