@{
    Layout = "/Views/Shared/_LayoutEmty.cshtml";
}
@* de phan trang thi using cac doi tuong sau *@
@* dong 3 de su dung ham IPagedList *@
@using X.PagedList
@using X.PagedList.Mvc.Core

<!-- main -->
<h1>Tin tức</h1>
<div class="wrapper-blog">
    <!-- list news -->
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 article" style="height:350px; overflow:hidden;">
                <div style="width:100%; height:150px; overflow:hidden;">
                    <a href="/News/Detail/@item.ID" class="image">
                        <img style="height:150px;width:100%;" src="~/Upload/News/@item.Photo" alt="@item.Name" title="@item.Name" class="img-responsive">
                    </a>
                </div>
                <h3><a href="/News/Detail/@item.ID">@item.Name</a></h3>
                <p class="desc">@Html.Raw(item.Description)</p>
            </div>
        }
    </div>
    <!-- end list news -->
    @* ham sau se thuc hien viec hien thi phan trang *@
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Category", new { page = page }))
</div>

<!-- end main -->